.EmployerProfile {
  position: relative;
  

  &__nav {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #5ce3b6;

    &__JobOffer {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: white;
      position: absolute;
      font-size: larger;
      font-weight: bold;
      right: 2.5%;
      top: 30%;
    }

    &__report {
      position: absolute;
      font-size: larger;
      font-weight: bolder;
      font-size: xx-large;
      left: 2.5%;
      top: 22%;
      color: white;
      cursor: pointer;
    }
    &__report:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &__message {
      cursor: pointer;
      color: white;
      position: absolute;
      font-size: x-large;
      left: 10%;
      top: 30%;
    }
    &__message:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__details {
    position: absolute;
    left: 50%;
    width: 50%;
    &__profilePicture {
      position: absolute;
      right: 10%;
      top: 10px;
      border: 1px solid black;
      border-radius: 100%;
      width: 90px;
      height:90px;
    }
    &__companyName {
      font-size: x-large;
      position: absolute;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      right: 50%;
    }

    &__w {
      position: absolute;
      right: 50%;
      top: 60px;

      &__rating {
        position: absolute;
        font-size: x-large;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        right: 22px;
        margin-top: 25%;
      }
      &__iconStar {
        position: absolute;
        font-size: xx-large;
        right: 55px;
        color: orange;
        top: -8px;
      }
    }
  }

  &__CreatingEmployerContact {
    position: relative;
    width: 30%;
    left: 10%;
    top: 30px;

    &__ViewEmployerProfile {
      font-size: x-large;
      color: #00db92;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
          text-decoration: none
    }
  }

  &__jobDescription {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: large;
    width: 45%;
    height: 50px;
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 2.5%;
    border: none;
    background-color: #5ce3b6;
    cursor: pointer;
  }
  &__jobDescriptionC {
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    width: 45%;
    height: 50px;
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 2.5%;
    border: none;
    background-color: #4ab28f;
    cursor: pointer;
  }

  &__jobDetails {
   
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: large;
    margin-top: 60px;

    width: 45%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #4ab28f;
    cursor: pointer;
    z-index: 1;
  }
  &__jobDetailsC {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: large;
    margin-top: 60px;
    width: 45%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #5ce3b6;
    cursor: pointer;
    z-index: 1;
  }

  &__JobDetailsForRegistration {
 
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-left: 0%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    i {
      font-size: medium;
      color: white;
      margin-left: 5px;
    }

    &__left {
      align-self: flex-start;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: large;
      margin-left: 10%;
      color: #26dfa2;
    }
    &__center {
      align-self: center;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: x-large;
    }
  }


  .hr {
    position: relative;
    width: 100vw;
    color: #5ce3b6;
    font-weight: bold;
  }


&__forRegistrationButton {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 25px 8px 25px;
  // padding-left: 25px;
  // padding-right: 25px;

  line-height: 26px;
  text-align: center;
  color: #6dfba3;
  background: #202c4a;
  border-radius: 36px;
  i{
    color: white;
  }
 
}
&__forRegistrationButton:hover {
  color: #6dfba3;
  background: #0f1f43;
  cursor: pointer;
  font-size: 20px;
}


}







// &__buttonSubmit:hover {
//   background: #42a87a;
//   cursor: pointer;
// }
