
.wraps{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    // margin-top: -40px;
    
    // background: rgba(255, 255, 255, 0.66);
    // box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.12);
    // border-radius: 30px;
    
    .RegistrationEnvelope{
      background: rgba(255, 255, 255, 0.66);
      box-shadow: 6px 10px 12px 10px rgba(0, 0, 0, 0.12);
      border-radius: 30px;
      position: relative;
      top: -60px;
      width: 80%;
      height: 78vh;
      max-width: 600px;
     .enrollment{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: rgba(0, 99, 54, 1) ;
        margin-top: 10px;
     }
     .enrollment_p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        margin-top: -10px;
        
        text-align: center;
        
        color: #4A5568;
     }
    
     input{
        padding-left: 5%;
       margin-top: 15px; 
       display: block;
       width: 85%;
       height: 51px;
       
       border-radius: 0px;
       border: none;
       border-bottom:2px solid rgb(146, 146, 254);
       border-radius: 0px;
       margin-left:30px;
       margin-right:30px;
        background: rgba(237, 242, 247, 1);
        
     }
    
     .PersonalInformation__butoon{
        margin-top: 35px;
        height: 40px;
        width: 280px;
        border:1px solid #4A5568;
        border-radius: 36px;
        background: rgb(90, 219, 157);
        border-radius: 36px;
        color: white;
        font-family: 'Roboto';
        font-size: larger;
        font-weight: 400;
        }
    
       .PersonalInformation__butoon:hover{
        background: #48b681;
        cursor: pointer;
    
       } 
    
       .defult{
          color: #000000;
          font-weight: 600; 
       }
    
    
       .GoodWriting{
          color: #000000;
          font-weight: 800;
       }
      
    
       .wrongWriting{
          color: #ff0000;
          font-weight: 800;
          
       }
    
       .passwordIconWrapper{
          position: relative;
          .fa-eye{
             position: absolute;
             top: 35%;
             left: 88%;
             color:  #48b681;
             font-size: medium;
             cursor: pointer;
          }
          .fa-eye-slash{
             position: absolute;
             top: 35%;
             left: 88%;
             color:  #48b681;
             font-size: medium;
             cursor: pointer;
          }
    
          .fa-eye,.fa-eye-slash:hover{
             color:  #5ce4a2;
          }
       }
    
    
       
    }
    
    
    
    
    
    
    
}
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
    