.wraps{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



.wrapsLogin {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.imgTitile {
  width: 32px;
  position: relative;
  top: 60px;
  left: -75px;
  align-self: center;
  z-index: -1;
}
.title {
  font-family: "Copse";
  font-style: normal;
  font-weight: 500;
  font-size: 63px;
  line-height: 79px;
  text-align: center;
}

.wrapsTemporaryPassword {
 

 position: absolute;
 top: 15%;

  width: 420px;
  height: 380px;
  background: rgba(255, 255, 255, 0.66);
  box-shadow: 6px 0px 12px 0px rgba(0, 0, 0, 0.12);
  border-radius: 30px;

  &__title {
    padding-top: 10%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: rgba(0, 99, 54, 1);
  }
  &__paragraph {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 99, 54, 1);
    padding: 0px 20px 0px 20px;
    margin: 0px 20px 0px 20px;
    text-align: center;

    margin-bottom: 30px;
  }

  &__from {
    &__sendEmail {
      height: 51px;
      width: 351px;
      border-radius: 0px;
      border: none;
      border-bottom: 2px solid rgb(146, 146, 254);
      border-radius: 0px;
      margin-left: 30px;
      background: rgba(237, 242, 247, 1);
    }
    &__sendButton {
      margin-top: 25px;
      position: relative;
     
      height: 40px;
      width: 280px;
      border: 1px solid #4a5568;
      border-radius: 36px;
      background: rgb(90, 219, 157);
      border-radius: 36px;
      color: rgb(255, 255, 255);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: x-large;
    }
    &__sendButton:hover {
      background: #48b681;
      cursor: pointer;
    }
  }

  &__timer{
    margin-top: 8px;
    &__msg{
      color: rgba(0, 99, 54, 1);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    &__timer{
      font-family: "Roboto";
      color: red;
      font-size: large;
      font-weight: bold;
    }
  }
 


  &__returnToLogin {
    position: relative;
    top: 4%;
    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #4a5568;
  }
  &__returnToLogin:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.imgForgotPassword {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 200px;
  max-width: 700px;
  margin: auto;
  z-index: -1;
}
}

.jhjh{
color: rgb(3, 173, 97);
border-radius: 100%;
box-shadow: 5px 5px 5px 5px black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: x-large;
color: rgb(181, 0, 0);
max-width: 500px;
height: 100px;
}
