.jobs {
  overflow-y: scroll;
  z-index: 1;

  .all-Jobs {
    background-color: #a0a0a075;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100vw;
    height: 70vh;
    padding-bottom: 82px;
    overflow-y: scroll;

    &__wrapper {
      position: relative;
      padding: 20px;
      margin: 10px auto;
      width: 88vw;
      height: 120px;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;

      &__wrapperUserName {
        background-color: #44ae8b;

        &__userPhoto {
          position: absolute;
          top: 7px;
          right: 20px;
          width: 42px;
          height: 42px;

          border-radius: 100%;
          border: 0.5px solid black;
          z-index: 1;
          // filter: drop-shadow(15px 15px 10px rgb(210, 210, 210));
        }
        &__userPhoto:hover {
          cursor: pointer;
        }
        &__userName {
          padding-right: 50px;
          position: absolute;
          right: 20px;

          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-weight: bold;
        }
      }
     

      &__typeWork {
        position: absolute;
        top: 36px;
        right: 18px;
        font-size: large;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: bold;
      }

      &__iconTrash {
        position: absolute;
        left: 25px;
        color: rgb(253, 114, 114);
      }
      &__iconTrashHide {
        display: none;
      }

      &__iconTrash:hover {
        color: rgb(251, 52, 52);
        cursor: pointer;
        transition: all 0.2s ease;
        transform: scale(1.2) translate(0, 0);
        transform-origin: center center;
      }

      &__jobDescription {
        position: absolute;
        top: 76px;
        right: 13px;
        padding: 2px 30px 38px 10px;
        height: 40px;
        border-radius: 10px;
        background-color: #e2e2e2;

        width: 200px;

        word-wrap: break-word;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        /* Set the width of the container div */
        overflow-y: scroll;
        cursor: row-resize;

        .span {
          position: relative;
          margin-bottom: 80px;
          right: -10px;
          word-wrap: break-word;
          overflow: hidden;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }
      }

      &__location {
        position: absolute;
        top: 32px;
        left: 25px;
        font-size: large;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: bolder;

        .fa-location-dot {
          color: #a0a0a0;
          font-size: small;
        }
      }

      &__date {
        font-size: small;
        position: absolute;
        top: 60px;
        left: 28px;
      }
      &__workHours {
        position: absolute;
        font-size: small;
        font-weight: bold;
        top: 80px;
        left: 28px;
      }

      &__hourlyWage {
        position: absolute;
        top: 100px;
        left: 32px;
        font-size: medium;
        font-weight: bold;

        .fa-shekel-sign {
          padding-left: 5px;
          font-size: small;
          color: #5a5959;
        }
      }
    }

    // &__wrapper:hover {
    //   cursor: pointer; 
    // }


  }
}

.deleteJob {
  background-color: #5ce3b6;
  position: absolute;
  padding-top: 2.5%;
  border: 3px solid #202c4a;
  width: 350px;
  height:160px;
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  margin: auto;
  // box-shadow: 0px 0px 30px 10px #a0a0a0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__title {
    font-size: xx-large;
    
  }

  &__buttonCancelation {
    position: absolute;
    font-size: medium;
    top: 50%;
    left: 8%;
    border-radius: 10px;
    padding: 12px;
  background-color: #7bfed2;
    color: rgb(0, 0, 0);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    border: none;
    /* identical to box height */

    text-align: right;
  }
  &__buttonApproval {
    position: absolute;
    font-size: medium;
    top: 50%;
    right: 8%;
    padding: 12px;
    padding-left: 12px;
    background-color: #7bfed2;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    border: none;
    /* identical to box height */

    text-align: right;
  }

  &__buttonApproval:hover {
    border: 0.5px solid rgb(0, 0, 0);
    cursor: pointer;
    // transition: all 0.2s ease;
    // transform: scale(1.05) translate(0, 0);
    transform-origin: center center;
    background-color: #51fdc3;
   
  }

  &__buttonCancelation:hover {
    border: 0.2px solid rgb(0, 0, 0);
    cursor: pointer;
    // transition: all 0.2s ease;
    // transform: scale(1.05) translate(0, 0);
    transform-origin: center center;
    background-color: #51fdc3;
  }
}

.deleteJob__hide {
  display: none;
}


.MainScreenWraps{
  ::-webkit-scrollbar {
    opacity: 0px;
    display: none;
  } 
}




