.all-Jobs__wrapper__location__services {
    font-size: 28px;
    position: absolute;
    top: 25px;
    left: 30px;
    font-weight: 400;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    .iconLocation {
      color: rgb(140, 140, 140);
    }
  }
  
  .all-Jobs__wrapper__rating__services {
    font-size: larger;
    position: absolute;
    top: 80px;
    left: 51px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    .iconStar {
      color: orange;
    }
  }

  .servicesWraps{
    ::-webkit-scrollbar {
      opacity: 0px;
      display: none;
    } 
  }
  