.position {
    position:absolute;
    width: 100vw;
    bottom:0px;
    
    background-color: whitesmoke;
    padding-top: 15px;
    padding-bottom:15px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
   
    ::-webkit-scrollbar {
        display: none;
          }

    .jobs {
        position: relative;
        color: #53caa2;

        &__icon {
            position: relative;
            top:0px;
            font-size: 37px;
        }

        &__text {
            position: relative;
            left: 3px;
            bottom: -1px;
            display: block;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;
            z-index: 1;
        }
    }

    .jobs:hover {
        color: #53caa2;
        cursor: pointer;
    }


    .off-job-marking{
        color: #000000;
        cursor: pointer;
    }



    .services {
        position: relative;


        &__icon {
            font-size: xx-large;

        }

        &__text {
            position: relative;
            left: -12.5px;
            bottom:-1px;
            display: block;
            margin-right: 35px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;
            z-index: 1;
        }
       
    }


    .services:hover {
        color: #53caa2;
        cursor: pointer;
    }
    .services-mark{
        color: #53caa2;
        cursor: pointer;
    }




    .my-profile {
        position: relative;

        &__icon {
            font-size: xx-large;
        }


        &__text {
            position: relative;
            left: -24px;
            display: block;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;

            z-index: 1;
        }

    }

    .my-profile:hover {
        cursor: pointer;
        color: #53caa2;
    }

    .my-profile-mark{
        cursor: pointer;
        color: #53caa2;
    }










}

.jobs {
    // גיבוי של קוד ה-CSS הקיים
    // ...
  
    &-mark {
      color: green; // או כל צבע ירוק אחר
      cursor: pointer;
    }
  }


