.title{
display: flex;
justify-content: center;
align-items: center;
.titel__workie{
        font-family: 'Copse';
        font-style: normal;
        font-weight:500;
        font-size: 74px;
        line-height: 0px;
        
    }

}
