.jobDescriptionWraps{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__allDetails{
        overflow-y: scroll;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: larger;
        margin-top: 18px;
        margin-bottom: -12px;
        width: 70vw;
        height: 350px;
        background: rgb(220, 220, 220);
        max-height: 400px;
        padding: 20px 40px 20px 40px;
        border-radius: 20px;

    }

    ::-webkit-scrollbar {
        width: 8px; /* רוחב הסרגל האנכי */
    }
   
}
