.wrapsNavBar {
    position: static;
    width: 100%;
    height: 115px;
    background-color: #5ce3b6;
    


    .messageIcon {
        position: absolute;
        top: 28px;
        right: 40px;
        font-size: xx-large;
        font-weight: 500;
        cursor: pointer;
        background-image: linear-gradient(to right, rgb(0, 0, 0), #0b4733); // צבע לבן לצד צבע ירוק בהיר
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transition: box-shadow 0.3s

    }

    .messageIcon:hover{
        background-image: linear-gradient(to right, rgb(0, 0, 0), #076445); 
    }

    .employeeEmployer {
        position: absolute;
        top: 28px;
        left: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
        font-weight: 500;
        font-style: normal;
        font-weight: 500;


        .fa-chevron-down {
            position: absolute;
            left: 45%;
            font-size: small;

        }

        .fa-chevron-down:hover {
            cursor: pointer;
            
        }
    }

    .employeeEmployer:hover {
        cursor: pointer;
    }






    .employeeEmployerW {
        display: none;



        &__employee {
            // position: relative;
            // left: -10%;
            // background-color: rgb(255, 255, 255);
            // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            // font-size: x-large;
            // padding: 0px 20px;
            // display: block;
            // border-top-right-radius: 20%;
            // border-top-left-radius: 20%;
            display: none;

        }


        &__employer {
            // position: relative;
            // left: -10%;
            // background-color: rgb(255, 255, 255);
            // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            // font-size: x-large;
            // padding: 0px 20px;
            // display: block;
            // border: #66fecc 1px solid;
            // border-bottom-left-radius: 20%;
            // border-bottom-right-radius: 20%;
            display: none;


        }






    }

    .ShowEmployeeEmployerW {
        position: absolute;
        top: 10%;
        left:31px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 3px solid #7bfed2;
        border-radius: 10px;
        padding: 4px;
        z-index: 2;
        width:100px;
        height:70px;



        .ShowEmployeeEmployee {
            border-bottom: #66fecc 1px solid;
            padding: 5px;
            border-top-right-radius: 30%;
            border-top-left-radius: 30%;
            background-color: rgb(255, 255, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: x-large;
            z-index: 2;
        }


        .ShowEmployeeEmployee:hover {
            cursor: pointer;
            background-color: aliceblue;
        }





        .ShowEmployeeEmployer {
            padding: 5px;
            border-bottom-left-radius: 25%;
            border-bottom-right-radius: 25%;
            background-color: rgb(255, 255, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: x-large;
            z-index: 2;

        }

        .ShowEmployeeEmployer:hover {
            cursor: pointer;
            background-color: aliceblue;
        }

    }












    .sortBy {
        position: absolute;
        padding: 4px 5px 4px 10px;
        border-top-right-radius:25px ;
        border-top-left-radius:25px ;
        border-bottom-left-radius:25px ;
        border-bottom-right-radius:25px ;
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
        background-color: #7bfed2;
        opacity: 1;
        top: 10%;
        left: 10px;


        .fa-chevron-down {
            left: 80%;
            font-size: medium;

        }

        .fa-chevron-down:hover {
            cursor: pointer;
            font-size: large;
            
        }

    }
    .sortBy:hover{
        cursor: pointer;
    }





    .sortByWrapper {
        // position: absolute;
        // top: 16.4%;
        // left: 10px;
        // z-index: 1;
        // background-color: #ffffff;
        // width: 150px;
        // height: 50px;
        // border-radius: 20%;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        // border:2px solid #66fecc





        &__theLatest {

            display: none;

        }

        &__theNearest {

            display: none;

        }

        &__rating {
            display: none;

        }

        &__showTheLatest {
            padding-top: 10px;
            display: block;
            text-align: center;
            position: relative;
            width: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: x-large;
            // border-bottom:2px solid #66fecc;
        }

        &__showTheNearest {
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
            text-align: center;
            width: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: x-large;
            // border-bottom:2px solid #66fecc;
        }

        &__showRating {

            display: block;
            text-align: center;
            width: 100%;
            height: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: x-large;
        }

        &__showTheLatest:hover {
            background-color: aliceblue;
            border-top-right-radius: 40%;
            border-top-left-radius: 40%;

            cursor: pointer;


        }

        &__showTheNearest:hover {
            background-color: aliceblue;
            cursor: pointer;

        }

        &__showRating:hover {
            background-color: aliceblue;
            border-bottom-left-radius: 35%;
            border-bottom-right-radius: 35%;
            cursor: pointer;
        }


    }

    .sortByWrapper_ {
        position: absolute;
        top: 15.5%;
        left: 72px;
        z-index: 1;
        background-color: #ffffff;
        width: 140px;
        height: 120px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2.5px solid #7bfed2;
        

    }


    .wrapsLogo {
        margin-left: 35vw;
        margin-right: 35vw;
        position: relative;
        top: -30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #5ce3b6;


        .imgTitil {

            width: 28px;
            position: relative;
            top: 40.6px;
            left: -78px;
            align-self: center;
            z-index: 1;

        }

        .title_ {

            font-family: 'Copse';
            font-style: normal;
            font-weight: 500;
            font-size: 63px;
            line-height: 39px;
            text-align: center;
            z-index: 0;
        }
    }


.wrapFilter{
    position: absolute;
        padding: 2px 15px 2px 15px;
        border-top-right-radius:15px ;
        border-top-left-radius:15px ;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:15px ;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
        background-color: #7bfed2;
        top: 10.5%;
        right: 10px;


    &__iconFilter{
    position: relative;
    top: 2.5px;
    

}

&__title{
    position: relative;
    top: -3px;

}

&__imgFilter:hover{
    cursor: pointer;
}

&__title:hover{
  
    cursor: pointer;
}



}
















}

